## Data Structures

### 1)List

In [4]:
li=[]
type(li)

list

In [5]:
li

[]

In [6]:
li=[1,2,3,4,5]
li[0]     #index of list starts from 0

1

In [7]:
li[0:]

[1, 2, 3, 4, 5]

In [8]:
li

[1, 2, 3, 4, 5]

In [9]:
li[::-1]

[5, 4, 3, 2, 1]

In [10]:
li[::2]

[1, 3, 5]

In [11]:
name="aruna"
mylist=[]
mylist= list()
type(mylist)

list

In [12]:
names=["aruna","bhanu"]
type(names)

list

In [13]:
len(names)

2

In [14]:
names[0]

'aruna'

### List Methods

#### Append
    -To add new items in the available list

In [17]:
names.append("suji")

In [21]:
names.remove("Mokara")

In [22]:
names

['aruna', 'bhanu', 'suji']

In [23]:
new_persons=["teju","varsha","bindu"]
names.append(new_persons)

In [24]:
names

['aruna', 'bhanu', 'suji', ['teju', 'varsha', 'bindu']]

In [25]:
len(names)

4

### Extend Method

In [28]:
name1=["aruna","bhanu","suji"]
name1.extend(new_persons)

In [29]:
name1

['aruna', 'bhanu', 'suji', 'teju', 'varsha', 'bindu']

In [30]:
len(name1)

6

### Copy
        -to take new backup of existed list

In [31]:
aru=[20,30,40,50]
bhanu=aru.copy()

In [32]:
bhanu

[20, 30, 40, 50]

In [33]:
aru

[20, 30, 40, 50]

In [34]:
s=["suji","deepu"]
s

['suji', 'deepu']

In [35]:
s[1]="aruna"

In [36]:
s

['suji', 'aruna']

In [37]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### clear
        -to remove all items

In [38]:
s

['suji', 'aruna']

In [39]:
s.clear()

In [40]:
s

[]

### Count(item)
        search for given item and return number of times it appear in a list

In [45]:
n=["aru","bhanu","suji","deepu","aru"]
n

['aru', 'bhanu', 'suji', 'deepu', 'aru']

In [46]:
n.count("aru")

2

In [47]:
n=[1,2,4,5,[2,45]]
n.count(2)

1

### index(item,start_indx_fro_serching)
    * return index of first occurance of the item in list if available otherwise value shows error

In [49]:
n

[1, 2, 4, 5, [2, 45]]

In [50]:
n.index(2)

1

In [54]:
n1=[1,2,3,1,2,3,1,2,3]
n1.index(3,4)

5

### insert(index_value,item)
* if given index available it can add item at given index otherwise it adds last index

In [55]:
num=[1,2,3,4,5,6]
num.insert(4,10)

In [56]:
num

[1, 2, 3, 4, 10, 5, 6]

In [57]:
num.insert(10,20)

In [58]:
num

[1, 2, 3, 4, 10, 5, 6, 20]

### pop()
* removes the element at the specific position

In [61]:
num

[1, 2, 4, 10, 5, 6, 20]

In [62]:
num.pop(3)

10

In [63]:
s=["aru","bhanu","suji","teju"]
s.pop(2)

'suji'

In [64]:
s

['aru', 'bhanu', 'teju']

### Remove()
* removes specific item

In [65]:
s

['aru', 'bhanu', 'teju']

In [66]:
s.remove("teju")

In [67]:
s

['aru', 'bhanu']

### Reverse()

In [68]:
s

['aru', 'bhanu']

In [69]:
n1=[1,2,34,5,7]
n1.reverse()

In [70]:
n1

[7, 5, 34, 2, 1]

In [71]:
s.reverse()

In [72]:
s

['bhanu', 'aru']

### Sort()

In [73]:
n1

[7, 5, 34, 2, 1]

In [74]:
n1.sort()

In [75]:
n1

[1, 2, 5, 7, 34]

In [77]:
st=["aruna","bhanu","ankith"]
st.sort()
st

['ankith', 'aruna', 'bhanu']

In [79]:
st.sort(reverse=True)  #descending order
st

['bhanu', 'aruna', 'ankith']

In [81]:
n1.sort(reverse=True)
n1

[34, 7, 5, 2, 1]